@model StudentApp.Domain.Entities.Materia

@{
    ViewData["Title"] = "Crear Materia";
}

<h1>Crear Materia</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Codigo"></label>
        <input asp-for="Codigo" class="form-control" />
        <span asp-validation-for="Codigo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Creditos"></label>
        <input asp-for="Creditos" class="form-control" />
        <span asp-validation-for="Creditos" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button> |
    <a asp-action="Index">Volver a la lista</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}