@model StudentApp.Domain.Entities.Materia

@{
    ViewData["Title"] = "Detalles de Materia";
}

<h1>Detalles</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Código</dt>
        <dd class="col-sm-10">@Model.Codigo</dd>

        <dt class="col-sm-2">Créditos</dt>
        <dd class="col-sm-10">@Model.Creditos</dd>
    </dl>
</div>


<a asp-action="Index" class="btn btn-secondary">Volver</a>
